In [2]:
import math
#to read data from the web
import pandas_datareader as web 
#to perform numerical computations
import numpy as np 
#for data manipulation and analysis
import pandas as pd
#to normalize and scale the data
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
#to build the model layer by layer
from tensorflow.keras.models import Sequential
#for time series prediction - Long Short Term Memory
from tensorflow.keras.layers import Dense, LSTM
#to plot the graphs
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
#download market data from yahoo finance
import yfinance as yf

In [3]:
#download the stock market data for Tesla (TSLA) from yahoo finance and assign it to data frae df
df = yf.download('TSLA', start='2019-01-01', end='2024-06-01')
df

[*********************100%%**********************]  1 of 1 completed

                  Open        High  ...   Adj Close     Volume
Date                                ...
2019-01-02   20.406668   21.008667  ...   20.674667  174879000
2019-01-03   20.466667   20.626667  ...   20.024000  104478000
2019-01-04   20.400000   21.200001  ...   21.179333  110911500
2019-01-07   21.448000   22.449333  ...   22.330667  113268000
2019-01-08   22.797333   22.934000  ...   22.356667  105127500
...                ...         ...  ...         ...        ...
2024-05-24  174.839996  180.080002  ...  179.240005   65479700
2024-05-28  176.399994  178.250000  ...  176.750000   59736600
2024-05-29  174.190002  178.149994  ...  176.190002   54782600
2024-05-30  178.580002  182.669998  ...  178.789993   77784800
2024-05-31  178.500000  180.320007  ...  178.080002   67314600

[1363 rows x 6 columns]